<%- include('partials/header.ejs') %>
       <h1 class="headText"> Welcome to the Solar System Site!</h1>
       
       <p>Click on a planet to know more about it:</p>
           <a href="/home"> Home </a> <br>
           <a href="/mercury"> Mercury </a> <br>
           <a href="/venus">   Venus   </a> <br>
           <a href="/earth">  Earth  </a> <br>
           <a href="/mars">  Mars  </a> <br>
           <a href="/jupiter">  Jupiter  </a> <br>
           <a href="/saturn">  Saturn  </a> <br>
           <a href="/uranus">  Uranus  </a> <br>
           <a href="/neptune">  Neptune  </a> <br>
           <br>
           
          
       <img src="img/solar_system.jpg" id="solarSystem"alt="The Solar System"/>
       <hr>
       &copy; 2020. <br/>
       Disclaimer: The information in this page might be innacurate.
<%- include('partials/footer.ejs') %>
