<%- include('partials/header.ejs') %>
       <h1 class="headText"> Welcome to the Mars Web Page!</h1>
       
       <p>Click on a planet to know more about it:</p>
           <a href="/home"> Home </a> <br>
           <a href="/mercury"> Mercury </a> <br>
           <a href="/venus">   Venus   </a> <br>
           <a href="/earth">  Earth  </a> <br>
           <a href="/mars">  Mars  </a> <br>
           <a href="/jupiter">  Jupiter  </a> <br>
           <a href="/saturn">  Saturn  </a> <br>
           <a href="/uranus">  Uranus  </a> <br>
           <a href="/neptune">  Neptune  </a> <br>
           <br>
           
       <p class="fact"><strong>Mars Facts: </strong>Mars, the fourth planet away from the sun, was named after the god of war Mars.  Mars also has the largest mountain in the entire solar system at 21 km(68,897.60 feet).  Mars has the largest sand storms in the solar system, and Mars has the second most hospitable planet besides Earth.</p>
          
       <img src="img/mars.jpg" id="mars"alt="Picture of mars"/>
       <hr>
       &copy; 2020. <br/>
       Disclaimer: The information in this page might be innacurate.
<%- include('partials/footer.ejs') %><hr>