<%- include('partials/header.ejs') %>
       <h1 class="headText"> Welcome to the Mercury Web Page!</h1>
       
       <p>Click on a planet to know more about it:</p>
           <a href="/home"> Home </a> <br>
           <a href="/mercury"> Mercury </a> <br>
           <a href="/venus">   Venus   </a> <br>
           <a href="/earth">  Earth  </a> <br>
           <a href="/mars">  Mars  </a> <br>
           <a href="/jupiter">  Jupiter  </a> <br>
           <a href="/saturn">  Saturn  </a> <br>
           <a href="/uranus">  Uranus  </a> <br>
           <a href="/neptune">  Neptune  </a> <br>
           <br>
           
       <p class="fact"><strong>Mercury Facts: </strong>Mercury is the closest of all the planets to the sun, and it is the second hottest planet in our solar system.  Mercury has 88 days in a year, but one day on Mercury would be 176 days on Earth.  Lastly, Mercury is the smallest planet in our solar system.</p>
          
       <img src="img/mercury.png" id="mercury"alt="Picture of Mercury"/>
       <hr>
       &copy; 2020. <br/>
       Disclaimer: The information in this page might be innacurate.
<%- include('partials/footer.ejs') %>
