<%- include('partials/header.ejs') %>
       <h1 class="headText"> Welcome to the Neptune Web Page!</h1>
       
       <p>Click on a planet to know more about it:</p>
           <a href="/home"> Home </a> <br>
           <a href="/mercury"> Mercury </a> <br>
           <a href="/venus">   Venus   </a> <br>
           <a href="/earth">  Earth  </a> <br>
           <a href="/mars">  Mars  </a> <br>
           <a href="/jupiter">  Jupiter  </a> <br>
           <a href="/saturn">  Saturn  </a> <br>
           <a href="/uranus">  Uranus  </a> <br>
           <a href="/neptune">  Neptune  </a> <br>
           <br>
           
       <p class="fact"><strong>Neptune Facts: </strong>Neptune, named after the Roman god of the sea, takes 164.8 years to orbit around the sun.  Neptune also has the largest gravity field out of all of the planets in the solar system.  Lastly, Neptune spins on its axis extremely quick due to it not having a solid body mass.</p>
          
       <img src="img/neptune.jpg" id="neptune"alt="Picture of Neptune"/>
       <hr>
       &copy; 2020. <br/>
       Disclaimer: The information in this page might be innacurate.
<%- include('partials/footer.ejs') %>