<%- include('partials/header.ejs') %>
       <h1 class="headText"> Welcome to the Saturn Web Page!</h1>
       
       <p>Click on a planet to know more about it:</p>
           <a href="/home"> Home </a> <br>
           <a href="/mercury"> Mercury </a> <br>
           <a href="/venus">   Venus   </a> <br>
           <a href="/earth">  Earth  </a> <br>
           <a href="/mars">  Mars  </a> <br>
           <a href="/jupiter">  Jupiter  </a> <br>
           <a href="/saturn">  Saturn  </a> <br>
           <a href="/uranus">  Uranus  </a> <br>
           <a href="/neptune">  Neptune  </a> <br>
           <br>
           
       <p class="fact"><strong>Saturn Facts: </strong>Saturn, being the sixth planet and second-largest planet in our solar system, has extremely defined rings that go around the whole planet.  Saturn is also one of the five planets in our solar system that can be seen by the naked eye.  Lastly, Saturn has the highest wind speeds when compared to every planet in the solar system.</p>
          
       <img src="img/saturn.jpg" id="saturn"alt="Picture of Saturn"/>
       <hr>
       &copy; 2020. <br/>
       Disclaimer: The information in this page might be innacurate.
<%- include('partials/footer.ejs') %>