<%- include('partials/header.ejs') %>
       <h1 class="headText"> Welcome to the Uranus Web Page!</h1>
       
       <p>Click on a planet to know more about it:</p>
           <a href="/home"> Home </a> <br>
           <a href="/mercury"> Mercury </a> <br>
           <a href="/venus">   Venus   </a> <br>
           <a href="/earth">  Earth  </a> <br>
           <a href="/mars">  Mars  </a> <br>
           <a href="/jupiter">  Jupiter  </a> <br>
           <a href="/saturn">  Saturn  </a> <br>
           <a href="/uranus">  Uranus  </a> <br>
           <a href="/neptune">  Neptune  </a> <br>
           <br>
           
       <p class="fact"><strong>Uranus Facts: </strong>Uranus is not considered to be a normal planet.  It is often referred to as a gas giant due to its composition.  Uranus is also considered to mainly be made of ice under its many layers of hydrogen and helium.  Lastly, Uranus is the coldest planet in the entire solar system.</p>
          
       <img src="img/uranus.jpg" id="uranus"alt="Picture of Uranus"/>
       <hr>
       &copy; 2020. <br/>
       Disclaimer: The information in this page might be innacurate.
<%- include('partials/footer.ejs') %>